<!doctype html>
<html lang="en">
  <% include _views/_partials/head %>
  <body>
    <div class="hero">
      <div class="container">
        <h1 class="hero-title">Hi, my name is Melissa. I'm a Front-End Developer who translates lovingly created design into beautiful web experiences.</h1>
        <p><a href="https://www.linkedin.com/in/melissasiu" target="_blank"><em>Get in touch &rarr;</em></a></p>
      </div>
    </div>
  </body>
</html>
